body {margin:0px;}
div#header {background-color:#484891;height:200px;}
h1 {color:#FFFFFF;font-size:50px;padding:10px 10px 10px 100px;}

div#content {border:solid 20px #C7C7E2;margin:10px;padding:10px 10px 10px 10px;
width:900px;margin:auto;}


div#picture {display:inline-block;width:600px;height:350px;background:#eee;
border:solid 3px #C7C7E2;margin:20px;}

div#date {display:inline-block;width:200px;height:350px;background:#fff;border:solid 30px 	#FF2D2D;}

img#index {max-height:300px;max-width:500px;}
